asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-ckeditor
django-email-verification
django-extensions
django-js-asset
django-recaptcha
idna
oauthlib
Pillow
pycparser
PyJWT
pyOpenSSL
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
typing-extensions
urllib3
Werkzeug
pymysql
pymupdf
pandas
dj_database_url
# django_heroku
gunicorn
