<style>
  .menu-frag a:active {
    color: blue;
    ;
  }

  .first-sidebar {
    position: fixed;
    top: 76px;
    left: 0;
  }

  .second {
    visibility: hidden;
  }
</style>
<div class="left first-sidebar d-none d-md-block col-md-4">
  <div class="menu-frag d-flex flex-column p-3 ps-4 gap-3">
    <div>
      <i class='bx bx-grid-alt'></i>

      <a href="{% url 'dashboard' billing_slug slug %} " id="active">Dashboard</a>
    </div>
    <div>
      <i class='bx bx-analyse'></i>

      <a href="{% url 'estimates' billing_slug slug %}">Estimates</a>
    </div>
    <div>
      <i class='bx bx-cog'></i>

      <a href="{% url 'appinfo' billing_slug slug %}">App Info</a>
    </div>
  </div>
  <hr>
  <div class="menu-frag mt-3 ps-3">
    <h4>Customer</h4>
    <div class="customer-frag d-flex flex-column p-3 pt-1 gap-3">
      <div>
        <i class='bx bx-box'></i>
        <a href="{% url 'addcustomer' billing_slug slug %}">Create</a>
      </div>
      <div>
        <i class='bx bx-box'></i>
        <a href="{% url 'customerlist' billing_slug slug %}">Customer List</a>
      </div>
      <div>
        <i class='bx bx-log-out'></i>
        <a href="{% url 'bulkupload' billing_slug slug %}">Bulk Upload</a>
      </div>
      <div>
        <i class='bx bx-archive-in'></i>
        <a href="{% url 'groups:groups-panel' billing_slug  slug %}">Manage Group</a>
      </div>
      <div>
        <i class='bx bx-bar-chart'></i>
        <a href="{% url 'pending-approvals' billing_slug slug %}">Pending approvals</a>
      </div>
      <div>
        <i class='bx bx-message'></i>
        <a href="{% url 'messaging' billing_slug slug %}">Messaging</a>
      </div>
    </div>
  </div>
  <hr>

  {% if billing_slug %}
  
  <div class="menu-frag mt-3 ps-3">
    <h4>Payments</h4>
    <div class="pay-frag d-flex flex-column  p-3 pt-1  gap-3">
      <div>
        <i class='bx bx-list-ul'></i>
        <a href="{% url 'transactions' billing_slug slug  %}">Transactions </a>
      </div>

      <div>
        <i class='bx bx-coin-stack'></i>
        <a href="{% url 'plans-panel' billing_slug slug  %}">Plans</a>
      </div>
      <div>
        <i class='bx bx-heart'></i>
        <a href="#">Requests</a>
      </div>
    </div>
  </div>
  {% endif %}


</div>
<div class="left second">

</div>