<style>
    .navbar .b-primary {
        all: unset;
        background: #3dcd58;
        color: white;
        box-shadow: 0px 0px 1px rgb(40 41 61 / 4%), 0px 2px 4px rgb(96 97 112 / 16%);
        border: 1px solid transparent;
        border-radius: 5px;
    }

    .navbar .b-secondary {
        background: white;
        color: black;
    }
</style>
<header>
    <nav class="navbar navbar-expand-lg fixed-top p-md-0">
        <div class="container-fluid">
            <div class="d-md-none menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="d-none d-md-none close">
                <i class="fa-solid fa-xmark fa-xl"></i>
            </div>
            <a class="navbar-brand d-none d-md-block mt-1" href="{% url 'index' %}">
                <h2 class="h2">BILL SNAP</h2>
            </a>
            {% if user.is_authenticated %}
            <div class="d-flex ms-auto gap-4 pe-3">
                <a href="{% url 'accounts:logout' %}">
                    <button class="b-primary b-secondary px-3 py-2">
                        Logout
                    </button>
                </a>
            </div>
            {% endif %}
        </div>
    </nav>
</header>