{% load i18n %}{% autoescape off %}Hi  {{ user.get_username }},
{% blocktranslate %}We're sending you this email because you requested a password reset for your user account at {{ site_name }}.{%endblocktranslate %}

{% translate "Click on this link to create a new password:" %}
{% block reset_link %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate "If you didn't request a password reset, you can ignore this email. Your password will not be changed." %}

{% translate "Thanks for using our site!" %}
{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}
{% endautoescape %}
